
.lobby-display,
.class-display {
  position: absolute;
  display: inline;
  height: calc(100% - 3em);
  top: 0;
  background-color: #0004;
  border-radius: 0.5em;
  border: var(--theme-shadow-color) thin solid;
  padding: 1em;
  margin: 0.5em;
  background-image: linear-gradient(0deg, var(--theme-shadow-color), 5%, #0004);
}


.lobby-display h1,
.class-display h1 {
  background-color: #0004;
  background-image: linear-gradient(45deg, var(--accent-shadow-color), #0002);
  margin: 0;
  padding-left: 0.3em;
  border: var(--accent-color) thin solid;
  text-shadow: 0 0 0.5em var(--theme-shadow-color);
}

.lobby-display {
  left: 0;
  width: 16em;
}

.class-display {
  left: 18.5em;
  width: calc(100% - 21.5em);
}

.class-display .class-tree {
  position: absolute;
  left: 1.5em;
  top: 5em;
  width: 12em;
  height: calc(100% - 7em);
  padding: 0.5em;
  background-color: #0002;
  border: #0004 thin solid;
}

.class-display .class-editor {
  position: absolute;
  top: 5em;
  left: 15.5em;
  width: calc(100% - 18em);
  height: calc(100% - 7em);
  padding: 0.5em;
  background-color: #0002;
  border: #0004 thin solid;
  font-family: initial;
}

.class-display .class-editor #class-editor {
  display: block;
  box-shadow: 0 0 0.5em #0004;
  opacity: 0.75;
  border-radius: 1em;
}

.class-display .selected {
  color: var(--accent-color);
  text-shadow: 0 0 0.5em var(--accent-shadow-color);
}

.class-display .class-local-player,
.class-display .style-local-player,
.class-display .class-lobby-dependencies * {
  cursor: pointer;
}

.class-display .class-tree * {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
}

.class-lobby-entity-del,
.class-lobby-entity-add {
  background-color: #0002;
  border: var(--theme-color) thin solid;
  cursor: pointer;
  margin-right: 0.5em;
}

.class-lobby-entity-del:hover,
.class-lobby-entity-add:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.class-lobby-entity-mut {
  transform: translateY(-50%);
  display: inline-flex;
}

.lobby-details {
  margin-top: 1em;
  position: relative;
  background-color: #0002;
  border: #0008 thin solid;
  text-indent: 1em;
}

.lobby-playerlist {
  position: relative;
  left: 0;
  width: calc(100% - 2.5em);
  height: calc(100% - 10.75em);
  background-color: #0002;
  border: #0008 thin solid;
}
