
@import url("initialize/colors.css");
@import url("initialize/fonts.css");

* {
    
    font-family: var(--default-font);

    color: var(--theme-color);
    border-color: var(--shadow-color);
    border-radius: 0.25em;

    outline: none;

}

input,
select,
body {
    background-color: var(--fill-color);
}

h1, h2, h3 {
    font-family: var(--theme-font);
}

