
@import url("theme/defaults/colors.css");
@import url("theme/defaults/fonts.css");

* {
    
    font-family: var(--default-font);

    color: var(--theme-color);
    border-color: var(--shadow-color);
    border-radius: 0.25em;

    outline: none;

}

body {
    background-color: var(--fill-color);
}

h1, h2, h3 {
    font-family: var(--theme-font);
}

.hide {
    display: none;
}
