
/* 
    Theme-Variables
*/

:root {

    --theme-color: #6C9;
    --theme-shadow-color: #396;

    --accent-color: #436;
    --accent-shadow-color: #325;

    --fill-color: #22222A;

}
